# Prisma
/prisma/.env
/prisma/.env.*
/prisma/*.db
/prisma/migrations/

# Node.js
/node_modules/

# TypeScript
/dist/
/tsconfig.tsbuildinfo

# Editor/IDE
/.vscode/
/.idea/

# Logs
/logs/

# Build output
/build/

# Miscellaneous
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local